{{- $data := .chezmoi.config.data | default dict -}}
{{- $host_name := (index $data "host_name") | default "new_client" -}}

tap "dbcli/tap"
brew "chezmoi"
brew "litecli"
brew "starship"

{{- if eq $host_name "main_pc" }}
brew "yt-dlp"
{{- end }}
